@define-color on_primary --wofi-color9;
@define-color tertiary --wofi-color46;
@define-color surface --wofi-color36;
@define-color error --wofi-color1;
@define-color outline --wofi-color23;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @tertiary;
  border-radius: 10px;
  background: @on_primary;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @on_primary;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 7.5px;
  background-color: @on_primary;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @on_primary;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @outline;
  background-color: @on_primary;
}

#input image {
    border: none;
    color: @error;
}

#input * {
  outline: 4px solid @surface!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @outline;
}

#entry {
  background-color: @on_primary;
}

#entry arrow {
  border: none;
  color: @error;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @outline;
}
#entry:selected #text {

  color: @tertiary;
}

#entry:drop(active) {
  background-color: @error!important;
}
